/*Селектор за типом елемента (X)*/
h1 {
  background-color: #a4deab;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Tahoma";
}

ul,
ol {
  list-style-type: none;
}

/*Селектор класу (.X)*/
.latin-text {
  color: #a4deab;
}
/*text-transform: none | uppercase | lowercase | capitalize*/
/*ext-align: left | right | center | justify*/
.hi {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
}

.maya {
  color: red;
  font-weight: 900;
  font-size: 20px;
  border-style: dashed;
  font-style: italic;
}
/*line-height: множник | значення | відсотки | normal | inherit*/
/*letter-spacing: значення | normal | inherit*/
/*text-indent: значення | відсотки | inherit - відступ*/
/*Властивість text-shadow контролює тінь тексту, а також задає її параметри: колір, зміщення та радіус розмиття.
text-shadow: <зміщення по x>, <зміщення по y>, <радіус розмиття>, <колір>*/

.text {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 3px;
  text-indent: 30px;
  text-shadow: 3px 3px 5px black;
}

/*Селектор нащадка (X Y)*/
ol li {
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(30%, 10%, 50%, 50%);
}

/*Селектор ідентифікатора (#X)*/
#forms {
  font-size: large;
  color: red;
}

/*Дочірній селектор (X > Y)*/
.latin-text > ul {
  color: blue;
}

details summary {
  border: 1px solid tomato !important;
}

/*Селектори стану (X:state) - селектор:псевдоклас */
.link:hover {
  font-size: 20px;
  color: chocolate;
}
.link:active {
  font-size: x-large;
}

.link:focus {
  color: orange;
}

.example {
  color: red;
}
.example .example-title {
  color: inherit;
}

p {
  font-family: "Helvetica Neue", "Roboto", "Verdana", "Tahoma", sans-serif;
}

/*text-decoration: none | underline | line-through | overline*/
